#rtc-container {
  align-content: end;
  height: 80vh;
}
.map {
  display: flex;
  justify-content: center;
  width: 80%;
} 
.map-and-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
}
.map-and-controls {
  display: flex;
  align-items: flex-start;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.circle-text {
  font-size: 16px;
  color: black;
}
.reset-button-container {
  position: fixed;
  right: 16%;
  bottom: 10%;
}
.reset-button {
  font-family: 'gelica, book antiqua, georgia, times new roman, serif';
  cursor: pointer;
  padding: 0.3rem;
  font-size: 1.7em;
  border-radius: 4px;
  margin-top: 15rem;
  
}
