.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
decision_desk/DDHQ_scrap.R
decision_desk/Exit_Polls_Scrap.R
decision_desk/CNN_Scraping_Scrap.R
Fact Sheets/
decision_desk/Scrap_Model_Testing.R
decision_desk/CNN_Scraping_Scrap.R
cleaned_data/nyt_county_live.csv
node_modules
decision_desk/DemographicImputation.R