.stats-table {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 40vw;
  left: 0;
  top: 40%;
  max-width: 40%;
  pointer-events: none;
}

table {
  border-collapse: collapse;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem;
}

tr {
  border-bottom: 1px solid rgb(212, 212, 212);
}

.header th {
  padding: 1rem 1rem;
}

.header tr {
  padding: 0.2rem 0rem;
}

td,
th {
  padding: 0.5rem 1rem;
  border-left: 1px solid rgb(212, 212, 212);
}

.table-contents tr:last-child {
  border-bottom: none;
}

th:first-child {
  border-left: none;
}

.table-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
