:root {
  --background: #ffffff;
  --foreground: #171717;
  --statusbar-left: #595D9A;
  --statusbar-right: #B83C2B;
  --statusbar-separator: #e0e0e0;
  --statusbar-text:#FFF;
  --statusbar-bgcolor: rgba(0, 0, 0, 0.30);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --statusbar-left: #595D9A;
    --statusbar-right: #B83C2B;
    --statusbar-separator: #e0e0e0;
    --statusbar-text:#FFF;
    --statusbar-bgcolor: rgba(0, 0, 0, 0.30);
  }
}

html,
body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: linear-gradient(
    to right,
    #e7e7e7 0%,
    #b3b3b3 15% 85%,
    #e7e7e7 100%
  );
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    #b3b3b3 0%,
    #e7e7e7 15% 85%,
    #b3b3b3 100%
  );
  mask: linear-gradient(#fff, transparent);
  z-index: -1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
