.drawCanvas {
    position: absolute;

    /* All of this is to hide the border that comes default with the library we're using */
    top: -1vh;
    left: -1vw;
    width: 109vw;
    height: 105vh; 
    overflow: hidden;
    z-index: 4;
}