.page {
  height: 100vh;
  width: 100vw;
}
.statusBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.mapWrapper {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: fixed;
  top: 20%;
}

.StateMapContainer {
  position: absolute;
  width: 100vw;
  height: 75vh;
}

/* .overflowCatch {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
} */
