.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button:hover {
  transition:
    background-color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

.button_container {
  background-color: transparent;
  border: none;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
}

.button_col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.button_icon_container {
  display: flex;
  justify-content: center;
}

.draw_icon {
  color: white;
  opacity: 0.75;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
}

.draw_icon_active {
  transition:
    color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  color: rgba(150, 255, 150, 1);
  opacity: 1;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
}

.button_container_active {
  transition:
    background-color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.3);
}
