.banner {
    position: fixed;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

h1, h2, h3, h4, h5, h6, p, em, i, .wordmark {
    display: inline;
    font-size: 1.5rem;
    color: #FFFFFF;
}